<h1>Interpolation</h1>
<app-interpolation></app-interpolation>
<h1> Property Binding</h1>
<app-property-binding></app-property-binding>
<h1>Attribute Binding</h1>
<app-attribute-binding></app-attribute-binding>
<h1>Adding Bootstrap</h1>
<app-adding-bootstrap></app-adding-bootstrap>
<h1>Class Binding</h1>
<app-class-binding></app-class-binding>
<h1>Style Binding</h1>
<app-style-binding></app-style-binding>
<h1>Event Binding</h1>
<app-event-binding></app-event-binding>
<h1>Template Variables</h1>
<app-template-variables></app-template-variables>
<h1>Two-way Binding</h1>
<app-twoway-binding></app-twoway-binding>
<h1>Pipes &  Custom Pipes</h1>
<app-built-in-pipes></app-built-in-pipes>